@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100&display=swap');

.container {
  width: 60%;
  margin: 0 auto;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: normal;
  display: block;
  margin-bottom: 0;
}

h2 a {
  color: #337ab7;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
  color: #23527C;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #333333;
  font-size: 16.8px;
  margin-top: 5px;
}


 h1 a {
   text-decoration: none;
   color: #337ab7;
 }

 h1 a:hover {
  color: #23527C;
}

h1 {
  display: block;
  padding-bottom: 15px;
  border-bottom: solid 0.5px #e7e7e7;
}
